<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-lg-4">
        <ul class="nav nav-tabs nav-stacked">
          <li><a href="#/fantasy">My Team</a></li>
          <li><a href="#/fantasy/requests">Requests</a></li>
          <li><a href="#/fantasy/advice">Give Advice</a></li>
        </ul>
      </div>
    <div class="col-lg-4">
      <h3> My Team </h3>
      <li ng-repeat="player in myTeam" class="list-group-item" ng-click="addPlayer(player)">
        {{player.display_name}}
      </li>
    </div>
    <div class="col-lg-4">
      <h3 style="display:inline; margin:0px; padding:10px;">Fanatics Please Help Me Decide</h3>
      <button class="btn btn-circle" data-toggle="modal"
              data-target="#basicModal">Compare Players</button>
      <li ng-repeat="player in myQuestion" class="list-group-item" ng-click="subPlayer(player)">
        {{player.display_name}}
      </li>
    </div>
  </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
        <h4 class="modal-title" id="myModalLabel">Player Compare</h4>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
