<div>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h2>Fantasy Rec Center</h2>
        <label style="float: center">Select Players to for Your Team </label>
      </div>
      <div class="col-lg-4">
        <h2> My Team </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <ul class="nav nav-tabs nav-stacked">
          <li><a href="#/fantasy">My Team</a></li>
          <li><a href="#/fantasy/requests">Requests</a></li>
          <li><a href="#/fantasy/advice">Give Advice</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <div class="input-group">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="chooseTeam()">Team</button>
            <button type="button" class="btn btn-default" ng-click="choosePlayers()">Player</button>
          </div>
          <button class="btn btn btn-primary" type="button">ADD</button>
          </span>
          <input type="text" class="form-control" placeholder="Team" ng-model="searchText">
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Please Select Players to Add to Team</div>
          <li ng-repeat="player in teams | orderBy: 'PLAYER' | filter:searchText | limitTo:10" ng-show="showPlayer" class="list-group-item"
              ng-click="addPlayer(player)">
            {{player.PLAYER}}
          </li>
          <li ng-repeat="team in teams | orderBy: 'teamName' | filter:searchText | limitTo:10" ng-show="showTeam" class="list-group-item">
            {{team.teamName}}
          </li>
        </div>
      </div>
      <div class="col-lg-4">
        <li ng-repeat="player in myTeam" class="list-group-item">{{player.PLAYER}}</li>
      </div>
    </div>
  </div>
</div>
