<div>
<h2>Fantasy Rec Center</h2>
  <label style="float: center">Select Players to be Evaluated </label>
  <button type="button" class="btn btn-primary" ng-click="showList()">Add</button>
<div class="row">
  <div class="col-lg-6">
  <div class="input-group">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Team</button>
      <button type="button" class="btn btn-default">Player</button>
    </div>
        <button class="btn btn-default" type="button">ADD</button>
      </span>
    <input type="text" class="form-control" placeholder="Team" ng-model="searchText">
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div>
    <ul ng-repeat="team in teams | filter:searchText" class="list-group" >
      <li class="list-group-item">{{team.full_name}}</li>
    </ul>
</div>
